
<footer class="footer" th:fragment="footer" th:align="center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; <span th:text="${new java.util.Date().getYear()+1900}"></span></p>
            </div>

        </div>
        <p class="pull-right"><a href="/#">Back to top</a></p>
    </div>
</footer>

<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap-table.min.js}"></script>

