<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head" />
</head>
<body>
    <div th:replace="partials/header" />

    <div id="page-content" class="container">

        <div class="row" th:if="${account} == null">
            <div class="col-md-12">
                <div class="alert alert-info" th:if="${message} != null">
                    <p th:text="${message}"></p>
                </div>
                <p>
                    Click <a href="/server">here to create a new Server account.</a>
                </p>
            </div>
        </div><!-- .row -->

        <!-- List of Directories -->
        <div class="row" th:if="${account} != null">
            <div class="col-md-12">
                <h1>Documents</h1>
                <table id="table"></table>
                <input type="hidden" id="directories" th:value="${directories}" >
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- #page-content -->
<div th:replace="partials/footer" />
    <script type="text/javascript" th:src="@{/assets/js/index.js}"></script>
</body>
</html>
