<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="QualiDoK, document management system file.">
    <meta name="author" content="CorpoSense">
    <title>QualiDoK</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="partials/header" />

<img th:src="@{/images/logo.svg}" width="10%" />
<h1>Documents</h1>

<p>Welcome back <span th:text="${user}" />!</p>

<div th:replace="partials/footer" />

</body>
</html>
