<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head" />
</head>
<body>
<div th:replace="partials/header" />
<div id="page-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Preview Office document</h2>
            <div th:if="${message}!=''">
                <p th:text="${message}"></p>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <h2>Options:</h2>
            <div class="form-group">
                <label for="folderId">Select a directory:</label>
                <select id="folderId" name="folderId" class="form-control">
                    <tr th:each="directory : ${directories}">
                        <option th:value="${directory.id}"><p th:text="${directory.name}"></p></option>
                    </tr>
                    <option value="4">Default folder</option>
                </select>
            </div>
            <div class="form-group">
                <label for="languageId">Language:</label>
                <select id="languageId" name="language" class="form-control">
                    <option th:value="en"><P th:text="English"></P></option>
                    <option th:value="fr"><P th:text="French"></P></option>
                    <option th:value="ar"><P th:text="Arabic"></P></option>
                </select>
            </div>
            <div class="form-group">
                <label for="fileNameId" class="form-label">File name (WORD):</label>
                <input type="text" th:value="${fileName}" class="form-control" id="fileNameId" placeholder="File name without extension" required>
            </div>
            <div class="col-12">
                <div th:if="${outputFile} != null" class="form-options">
                    <div class="form-group pull-right">
                        <input type="hidden" id="outputFile" th:src="${outputFile}">
                        <button id="upload" class="btn btn-success" type="button">Upload</button>
                    </div>
                </div>
            </div>
            <div id="loading" style="display: none;">
                <img th:src="@{/assets/images/loading.gif}" />
                <p>Upload document... (please wait)</p>
            </div>
            <div class="alert alert-success hidden" id="msg-success">
                <p>Document uploaded successfully.</p>
            </div>
            <div class="alert alert-danger hidden" id="msg-failure">
                <p>Error uploading document</p>
            </div>
            <div class="alert alert-danger hidden" id="msg-warning">
                <p>File name is required</p>
            </div>
        </div>
    </div><!-- row -->
</div><!-- #page-content -->

<div th:replace="partials/footer" />
<script type="text/javascript" th:src="@{/assets/js/preview.js}"></script>
</body>
</html>