<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head" />
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/summernote.min.css}" />
    <style>
        div#tab-content {
            padding: 10px;
            border: 1px solid gray;
            background-color: gray;
        }

        div#preview-output {
            margin: 15px;
            border: 1px gray solid;
            padding: 15px;
            background-color: white;
            height: 450px;
            min-height: 450px;
            max-height: 450px !important;
            overflow-y: auto;
        }
        .img-responsive {
            display: block;
            max-width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
<div th:replace="partials/header" />

<div id="page-content" class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h2>Preview</h2>
                    <div th:if="${message}!=''">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">
                <div th:class="${widthStyle}">
                    <div id="ocr">
                        <ul th:if="${outputFile} != null or ${fullText} != null" class="nav nav-tabs">
                            <li class="active">
                                <a th:else href="#preview-output" data-toggle="tab">Output</a>
                            </li>
                        </ul>
                        <div th:if="${fullText} != null" id="tab-content" class="tab-content">
                            <div class="tab-pane in fade active" id="preview-output">
                                <div class="summernote"></div>
                                <input type="hidden" th:value="${fullText}" id="fullText">
                            </div>
                        </div>
                        <!-- <div class="alert alert-info" th:if="${detectedLanguage} != null">-->
                        <!-- <p>Detected text: <strong th:text="${detectedLanguage}"></strong></p>-->
                        <!-- </div>-->

                        <div th:if="${fullText} != null" class="form-options">
                            <div class="form-group pull-left">
                                <button id="edit" class="btn btn-primary" type="button">Edit</button>
                            </div>
                        </div><!-- .form-options -->

                        <div th:if="${outputFile} != null" class="tab-content">
                            <div class="tab-pane active">
                                <embed id="outputFile" th:src="${outputFile}" type="application/pdf" width="100%" height="500px" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div th:if="${outputFile} != null or ${fullText} != null">
                                    <h2>Options:</h2>
                                    <div class="form-group">
                                        <label for="folderId">Select a directory:</label>
                                        <select id="folderId" name="folderId" class="form-control">
                                            <tr th:each="directory : ${directories}">
                                                <option th:value="${directory.id}"><p th:text="${directory.name}"></p></option>
                                            </tr>
                                            <option value="4">Default folder</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="languageId">Language:</label>
                                        <select id="languageId" name="language" class="form-control">
                                            <option th:value="en"><P th:text="English"></P></option>
                                            <option th:value="fr"><P th:text="French"></P></option>
                                            <option th:value="ar"><P th:text="Arabic"></P></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fileNameId" class="form-label">File name (PDF):</label>
                                        <input type="text" th:value="${fileName}" class="form-control" id="fileNameId" placeholder="File name without extension" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="loading" style="display: none;">
                            <img th:src="@{/assets/images/loading.gif}" />
                            <p>Upload document... (please wait)</p>
                        </div>

                        <div class="col-12">
                            <div th:if="${fullText} != null" class="form-options">
                                <div class="form-group pull-left">
                                    <button id="save" class="btn btn-primary" type="button">Save</button>
                                </div>
                            </div><!-- .form-options -->
                        </div>
                        <div class="col-12">
                            <div th:if="${outputFile} != null" class="form-options">
                                <div class="form-group pull-right">
                                    <button id="upload" class="btn btn-success" type="button">Upload</button>
                                </div>
                            </div><!-- .form-options -->
                        </div>
                    </div>
                </div><!-- .col-md-6 -->

                <div class="col-md-6">
                    <div th:if="${inputImage} != null" >
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#preview-document" data-toggle="tab">Original Document</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <img id="uploadedImage" th:src="${inputImage}" alt="output" width="100%" />
                        </div>
                    </div>

                    <div th:if="${inputPdfFile} != null">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#preview-document" data-toggle="tab">Original Document</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <embed id="inputPdfFile" th:src="${inputPdfFile}" type="application/pdf" width="100%" height="500px" />
                        </div>
                    </div>
                </div><!-- .col-md-6 -->
            </div><!-- .row -->

            <div class="alert alert-success hidden" id="msg-success">
                <p>Document uploaded successfully.</p>
            </div>
            <div class="alert alert-danger hidden" id="msg-failure">
                <p>Error uploading document</p>
            </div>
            <div class="alert alert-danger hidden" id="msg-warning">
                <p>File name is required</p>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->

</div><!-- #page-content -->

<div th:replace="partials/footer" />
<script type="text/javascript" th:src="@{/assets/js/summernote.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/preview.js}"></script>
</body>
</html>
