<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head" />
</head>
<body>
<div th:replace="partials/header" />

<div id="page-content" class="container">

    <div class="row" th:if="${message} == ''">
        <div class="col-md-12">
            <div class="alert alert-info">
                <p th:text="${message}"></p>
            </div>
            <p>
                Click <a href="/server">here to create a new Server account.</a>
            </p>
        </div>
    </div><!-- .row -->

    <div class="row">
        <div class="col-md-6">
            <h2>Upload a document</h2>
            <!-- Upload Form -->
            <form id="doc-upload" action="upload" method="post" class="form-vertical" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="input-doc">Select a document:</label>
                    <input type="file" name="input-doc" id="input-doc" multiple="multiple" class="form-control">
                </div>

                <div class="form-group">
                    <select id="type-ocr" name="type-ocr" class="form-control">
                        <option value="extract-text">Extract text (Manuel)</option>
                        <option value="produce-pdf">Create a PDF (Auto)</option>
                    </select>
                </div>
                
                <div id="loading" style="display: none;">
                    <img th:src="@{/assets/images/loading.gif}" />
                    <p>Processing document... (please wait)</p>
                </div>
                <div class="form-group pull-right">
                    <input type="submit" class="btn btn-primary" value="Upload">
                </div>

            </form>
        </div><!-- .col-md-6 -->

    </div><!-- .row -->

    <div class="alert alert-danger hidden" id="msg-warning">
        <p>No file selected!</p>
    </div>
    <div class="alert alert-danger hidden" id="msg-warning2">
        <p>File too small, please select a file greater than 16 Ko</p>
    </div>

</div><!-- #page-content -->

<div th:replace="partials/footer" />

<script type="text/javascript">
$(function(){
    var loading = $('#loading');
    $('#doc-upload').on('submit', function(){
        loading.show();
        console.log('Processing...');
        setTimeout(function(){
            $(loading).append("You will be redirected...");
        }, 5000);
    });
});
$(function(){
    $('#doc-upload').on('submit', function(e){
        if (!$('#input-doc').val()) {
        e.preventDefault();//prevent the page from reloading
      $('#msg-warning').removeClass('hidden');
    }
    });
});
$(function(){
    $('#doc-upload').on('submit', function(e){
    var MINIMUM_FILE_SIZE = 16458;
        if ($('#input-doc')[0].files[0].size< MINIMUM_FILE_SIZE) {
        e.preventDefault();//prevent the page from reloading
      $('#msg-warning2').removeClass('hidden');
    }
    });
});
</script>
</body>
</html>
