<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="QualiDoK, document management system file.">
    <meta name="author" content="CorpoSense">
    <title>QualiDoK</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="partials/header" />

<div id="page-content" class="container">

    <div class="row" th:if="${message} == ''">
        <div class="col-md-12">
            <div class="alert alert-info">
                <p th:text="${message}"></p>
            </div>
            <p>
                Click <a href="/server">here to create a new Server account.</a>
            </p>
        </div>
    </div><!-- .row -->


    <div class="row">
        <div class="col-md-12">
            <h2>Upload a document</h2>
            <!-- Upload Form -->
            <form action="upload" method="post" class="form-vertical" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="pdf">Select a PDF:</label>
                    <input type="file" name="pdf" id="pdf" multiple="multiple" class="form-control">
                </div>
                <div class="form-group pull-right">
                    <input type="submit" class="btn btn-primary" value="Upload">
                </div>
            </form>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->

</div><!-- #page-content -->

<div th:replace="partials/footer" />

</body>
</html>
